fastapi
requests
uvicorn
pytest
pytest-asyncio
httpx
pydantic
python-dotenv
sqlalchemy 
authlib
passlib
bcrypt==4.0.1
pydantic-settings
pytest
httpx
redis
snakeviz
line_profiler
locust
prometheus-fastapi-instrumentator
python-jose[cryptography]
psycopg[binary]
asyncpg
email-validator
python-multipart
alembic
slowapi
supabase
langchain
pymupdf
python-docx
langchain-text-splitters